ScrumManagement/WPFClientApplication/Service References/ServiceReference1/Project2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5595/Project.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedModelLibrary" />
  <xs:element name="InsertProjectDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedModelLibrary" minOccurs="0" name="project" nillable="true" type="q1:ProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProjectDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedModelLibrary" minOccurs="0" name="InsertProjectDetailsResult" nillable="true" type="q2:ProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsersToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SharedModelLibrary" minOccurs="0" name="selectedUsers" nillable="true" type="q3:ArrayOfUserModel" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsersToProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUsersToProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTeamInvites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTeamInvitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SharedModelLibrary" minOccurs="0" name="getTeamInvitesResult" nillable="true" type="q4:ArrayOfUserInvitesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTeamInvites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SharedModelLibrary" minOccurs="0" name="Invites" nillable="true" type="q5:ArrayOfUserInvitesModel" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTeamInvitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SharedModelLibrary" minOccurs="0" name="updateTeamInvitesResult" nillable="true" type="q6:ArrayOfUserInvitesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>